        <hr>
        <footer>
                CST336: Internet Programming<br>
                &copy; 2019. Y. Carrillo<br>
                Disclaimer: The information in this page might be inaccurate.<br>
                It is used for academic purposes only.
        </footer>
    </body>
</html> 