<% include partials/header.ejs %> 

        <h2>Mars, So Red... So Cold</h2>
        <div class="flex-container">
                <div class="image">
                        <img src="/img/mars.png" alt="Mars" height="400" width="700">
                </div>
                <div class="text-box">
                        <p id="planet-information" style="background-color: #FF8966;">
                                The fourth planet from the Sun, Mars is a dusty, cold, 
                                desert world with a very thin atmosphere. <br><br>
                                This dynamic planet has seasons, polar ice caps and weather 
                                and canyons and extinct volacanoes, evidence of an even more 
                                active past. <br><br> Mars is one of the most explored bodies 
                                in our solar system, and it's the only planet where we've sent 
                                rovers to roam the alien landscape. NASA currently has three 
                                spacecraft in orbit, one rover and one lander on the surface 
                                and another rover under construction here on Earth. India and 
                                ESA also have spacecraft in orbit above Mars.
                        </p>
                </div>
        </div>
    
<% include partials/footer.ejs %> 