<% include partials/header.ejs %> 

        <h2>Venus coming your way!</h2>
        <div class="flex-container">
                <div class="image">
                        <img src="/img/venus.png" alt="Venus" height="400" width="700">
                </div>
                <div class="text-box">
                        <p id="planet-information" style="background-color: #B992C0;">
                                Second planet from the Sun and our closest planetary neighbor, 
                                Venus is similar in structure and size to Earth, but it is now 
                                a very different world. <br><br>Venus spins slowly in the opposite 
                                direction most planets do. Its thick atmosphere traps heat in a 
                                runaway greenhouse effect, making it the hottest planet in our 
                                solar system—with surface temperatures hot enough to melt lead. <br><br>
                                Glimpses below the clouds reveal volcanoes and deformed mountains.
                        </p>
                </div>
        </div>
        
        
<% include partials/footer.ejs %> 